* {
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 5px 5px 5px rgba(177, 177, 177, 0.164);
}

.main>label {
    position: absolute;
    top: -14px;
    background-color: white;
    font-size: 1.1rem;
    font-weight: bolder;
}

input {
    border-radius: 8px;
    padding: 5px;
    border: 1px solid grey;
    outline: none;
    /* max-width: 300px; */
}

.toolkit {
    position: absolute;
    top: 5px;
    right: 20px;
    display: flex;
    gap: 5px;

}


#save-btn,
#cancel-btn {
    margin: 5px 0;
    padding: 2px 10px;
    border-radius: 6px;
    animation: 0.2s;
}

#expand-btn:hover {
    background-color: rgba(245, 222, 179, 0.274);
}

#save-btn:hover {
    background-color: rgba(245, 222, 179, 0.274);
}

#cancel-btn:hover {
    background-color: rgba(245, 222, 179, 0.274);
}

#add-more-btn {
    padding: 5px;
    margin: 5px;
    background-color: rgba(245, 222, 179, 0.274);
}

#delete-btn, #cancel-btn-2{
    display: none;
    padding: 5px;
    margin: 5px;

}




#suggestions{
    max-width: 215px;
    padding: 10px;
    background-color: rgba(177, 177, 177, 0.164);
    border-radius: 10px;
}

#suggestions>li{
    list-style: none;
    cursor: pointer;
}

#suggestions > li:hover{
    background-color:rgba(245, 222, 179, 0.274);
}

#selected-items{
    background-color: rgba(177, 177, 177, 0.164);
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.saved-items-wrapper{
    display: flex;
    align-items: center;
    background-color: rgba(177, 177, 177, 0.164);
    border-radius: 8px;
}
#saved-items{
    background-color: transparent;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

#selected-items > li{
    list-style: none;
    background-color: rgba(177, 177, 177, 0.164);
    width: fit-content;
    padding: 5px 10px;
    display: inline-block;
    margin:  5px;
    cursor: pointer;
    border-radius: 8px;
}

.selected-item, .saved-item{
    display: flex;
    gap: 5px;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    background-color: aliceblue;
    align-items: center;
}

.saved-item > label{
    margin-bottom: 0;
}

.selected-item > i:hover{
    background-color: rgba(0, 255, 0, 0.795);
}

.control-btns{
    margin: 5px 0;
}
.control-btns button{
    border-radius: 8px;
    padding: 0 5px;
    border: 1px solid grey;
    outline: none;
}
#saved-items-control-btns{
    display: flex;
    align-items: center;
    position: absolute;
    right: 50px;
    top: 40px;
}

#selected-items-wrapper{
    background-color: (177, 177, 177, 0.164);
    position:relative;
}